.temperatures-container {
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.temperature-title {
    color: red;
}

.temperatures-variables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}