.add-container {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 900px;
}

.add-title {
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
}

.add-display {
  font-size: 1.2rem;
  margin: 10px 0;
}

.badge {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
}

.add-variables {
  display: flex;
  justify-content: space-between; /* จัดให้ A และ B อยู่ด้านซ้ายและขวา */
  width: 100%; /* ให้ A และ B ใช้พื้นที่เต็ม */
}

.variable-container {
  flex: 1; /* ให้ A และ B ขยายเต็มที่ */
  margin: 0 10px; /* ระยะห่างระหว่าง A และ B */
}