@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
  color: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

/* Main container */
.background-container {
  margin: 1rem;
  background-image: url("https://img5.pic.in.th/file/secure-sv1/Desktop-Wall179b18b09657949c.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 12px;
}

.lineOf_CAT {
  display: flex; /* ใช้ flex เพื่อจัดเรียง Counter และ Timer ในแถวเดียวกัน */
  justify-content: space-between; /* ให้มีระยะห่างระหว่าง Counter และ Timer */
  align-items: stretch; /* ทำให้ Counter และ Timer ยืดเต็มพื้นที่ */
  gap: 20px; /* ช่องว่างระหว่าง Counter/Timer กับ Add */
}

.counter-timer {
  display: flex;
  flex-direction: column; /* จัดเรียง Counter และ Timer ในแนวตั้ง */
  flex: 1; /* ให้ Counter-Timer ขยายเต็มที่ */
  max-width: 300px; /* กำหนดความกว้างสูงสุด */
  margin-left: 50px;
}

.counter, .forAdd {
  display: flex;
  justify-content: center;
  flex: 1; /* ให้ Counter และ Timer ขยายเต็มที่ */
  margin-bottom: 20px; /* ระยะห่างด้านล่าง */
  min-width: 500px;
}

.title_work, .title-myname {
  background-color: #1c1c1c;
  color: #FF4D4F;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.title_work h1, .title-myname h3 {
  margin: 0;
  font-size: 2.5em;
}