.footer {
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center; /* จัดไอเท็มในแนวเดียวกัน */
}

.footer-section {
    flex: 1;
}

.footer-section img {
    width: 20px; /* ขนาดของไอคอน social media */
    height: auto;
    margin-right: 10px; /* เว้นระยะห่างระหว่างไอคอน */
}

.footer-bottom {
    margin-top: 0; /* ยกเลิกระยะห่างด้านบน */
    padding-top: 0;
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    align-items: center;
    font-size: 14px; /* ปรับขนาดตัวอักษรตามความเหมาะสม */
}